*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    min-height: calc(100vh - 0.1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $Very-Light-Gray
}